{% extends "base.html" %}

{% load static %}
{% block title %}Policy{% endblock %}
{% block content %}

<section class="section section_text">
    <div class="container">
      <h1 class="h2">Политика конфиденциальности</h1>
      <div class="_txt txt-justify">
        <style>
            .nocopy {
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                }
        </style>
    <div class="nocopy" oncontextmenu="return false;">
        <p style="text-align: right;">УТВЕРЖДЕНО<br>
        Приказом директора ООО «Белсинема»<br>
        № 02-08/21-1 от 02.08.2021</p>
        <h3><strong>Политика общества с ограниченной ответственностью «Белсинема»<br>
        в отношении обработки персональных данных</strong></h3>
        <p ><span style=" display: block; text-align: center; font-size: 2em">1. 	Общие положения</span><br>
            1.1.	Настоящая Политика общества с ограниченной ответственностью «Белсинема» в отношении обработки персональных данных (далее — Политика) разработана в соответствии с законодательством Республики Беларусь о защите персональных данных.<br>
            1.2.	ООО «Белсинема» является оператором персональных данных, обработка персональных данных осуществляется ООО «Белсинема» в соответствии с Законом Республики Беларусь от 07.05.2021 № 99-З «О защите персональных данных» (далее — Закон о персональных данных).<br>
            1.3.	Политика действует в отношении всех персональных данных, которые обрабатывает общество с ограниченной ответственностью «Белсинема» (далее — Оператор).<br>
            1.4.	 Политика распространяется на отношения в области обработки персональных данных, включая сбор, систематизацию, хранение, изменение, использование, обезличивание, блокирование, распространение, предоставление, удаление персональных данных, осуществляемые с использованием средств автоматизации и без использования таких средств.<br>
            1.5.	Политика предназначена для ознакомления субъектов персональных данных – физических лиц, в отношении которых осуществляется обработка персональных данных.<br>
            1.6.	Персональные данные могут предоставляться Оператору как в письменном виде на бумажном носителе, так и в электронном виде, любым доступным способом, в том числе, но не ограничиваясь: проставляя отметку в поле интернет-ресурса/сервиса/системы (ресурса) ООО «Белсинема» «Я ознакомлен с Политикой и согласен с ее условиями», со ссылкой на Политику.<br>
            Передавая Оператору персональные данные, в том числе посредством интернет-ресурсов ООО «Белсинема», субъект персональных данных подтверждает свое согласие на обработку его персональных данных на условиях, изложенных в Политике, и подтверждает, что ознакомлен с Политикой и согласен с ее условиями.<br>
            1.7.	 Обработка персональных данных Оператором основывается на принципах законности, уважения прав и интересов физических лиц, неприкосновенности их частной жизни.<br>
            1.8.	Политика публикуется в свободном доступе в информационно-телекоммуникационной сети Интернет на сайте Оператора: www.skyline.by.<br>
            1.9.	Понятия, содержащиеся в ст. 1 Закона о персональных данных, используются в настоящей Политике с аналогичным значением.<br>
            1.10.	Оператор не контролирует и не несет ответственности за сайты третьих лиц, на которые субъект персональных данных может перейти по ссылкам, доступным на интернет-ресурсах/сервисах/ системах (ресурсах) Оператора.
        </p>
        <p><span style="display: block; text-align: center; font-size: 2em">2.	Цели обработки персональных данных</span><br>
            2.1.	Оператор осуществляет обработку персональных данных в следующих целях:<br>
            —	заключение с субъектами персональных данных любых видов договоров и их последующего исполнения;<br>
            —	использование персональных данных в рекламных и маркетинговых целях, в том числе направление субъекту персональных данных уведомлений, коммерческих предложений, рассылок информационного и рекламного характера, связанных с продукцией (работами, услугами) Оператора;<br>
            —	оказание технической поддержки по вопросам функционирования Оператора;<br>
            —	обработка сообщений и запросов, поступивших от субъекта персональных данных;<br>
            —	анализ работы ресурсов Оператора, совершенствование их функциональных и поисковых возможностей, в том числе посредством проведения опросов и иных исследований;<br>
            —	предоставление субъекту персональных данных сервисов Оператора;<br>
            —	ведение кадровой работы и организация учета работников Оператора, в том числе привлечение и отбор кандидатов для работы у Оператора;<br>
            —	осуществление административных процедур;<br>
            —	ведение индивидуального (персонифицированного) учета застрахованных лиц;<br>
            —	ведение воинского учета;<br>
            —	ведение бухгалтерского и налогового учета;<br>
            —	заполнение и передача в государственные органы и иные уполномоченные организации требуемых форм отчетности;<br>
            —	осуществление хозяйственной деятельности;<br>
            —	обработка иных обращений и запросов, получаемых от субъектов персональных данных;<br>
            —	выполнение иных обязанностей (полномочий), предусмотренных законодательными актами.<br>
            2.2.	Обработка персональных данных работников может осуществляться исключительно в целях обеспечения соблюдения законов и иных нормативных правовых актов.
        </p>
        <p><span style=" display: block; text-align: center; font-size: 2em">3.	Обработка персональных данных</span><br>
            3.1.	Обработка персональных данных осуществляется Оператором в соответствии с требованиями законодательства Республики Беларусь.<br>
            3.2.	Обработка персональных данных осуществляется с согласия субъектов персональных данных на обработку их персональных данных, а также без такового согласия в случаях, предусмотренных законодательством Республики Беларусь.<br>
            3.3.	Оператор осуществляет как автоматизированную, так и неавтоматизированную обработку персональных данных.<br>
            3.4.	Не допускается раскрытие третьим лицам и распространение персональных данных без согласия субъекта персональных данных, если иное не предусмотрено законодательством.<br>
            3.5.	Оператор осуществляет хранение персональных данных не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен законодательством Республики Беларусь, договором.
        </p>
        <p><span style="display: block; text-align: center; font-size: 2em">4.	Реализация прав субъектов персональных данных</span><br>
            4.1.	Субъект персональных данных имеет право:<br>
            4.1.1.	 получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных законодательством. Перечень информации и порядок ее получения установлен Законом о персональных данных;<br>
            Оператор в течение 5 рабочих дней после получения заявления от субъекта персональных данных предоставляет соответствующую информацию либо уведомляет его о причинах отказа в предоставлении такой информации.<br>
            4.1.2.	требовать от Оператора уточнения его персональных данных в случае, если персональные данные являются неполными, устаревшими, неточными;<br>
            Субъект персональных данных по своему заявлению, содержащему соответствующие требование, должен приложить соответствующие документы и (или) заверенные в установленном порядке копии, подтверждающие необходимость внесения изменений в персональные данные. В случае подтверждения факта неточности персональных данных Оператор на основании сведений, представленных субъектом персональных данных уточняет (изменяет) персональные данные в течение 15 дней со дня представления таких сведений.<br>
            4.1.3.	получать информацию о предоставлении его персональных данных третьим лицам, один раз в календарный год бесплатно;<br>
            Оператор в течение 15 дней после получения запроса предоставит субъекту персональных данных информацию о том, какие персональные данные субъекта и кому предоставлялись в течение года, предшествовавшего дате подачи заявления, либо уведомит о причинах отказа в ее предоставлении.<br>
            4.1.4.	в любое время без объяснения причин отозвать свое согласие на обработку персональных данных;<br>
            Реализация права осуществляется в порядке подачи Оператору заявления в соответствии со ст. 10 Закона о персональных данных, либо в форме, посредством которой получено его согласие.<br>
            Оператор в течение 15 дней после получения заявления в соответствии с его содержанием прекратит обработку персональных данных, а также осуществит их удаление (обеспечит прекращение обработки персональных данных, а также их удаление уполномоченными лицами, если таковые имеются) и уведомит об этом Пользователя.<br>
            Если у Оператора будет отсутствовать техническая возможность удаления персональных данных, Оператор примет меры по недопущению дальнейшей обработки персональных данных, включая их блокирование, и уведомит об этом субъекта персональных данных в тот же срок.<br>
            Оператор вправе отказать субъекту персональных данных в удовлетворении требований о прекращении обработки его персональных данных и (или) их удалении при наличии оснований для обработки персональных данных, предусмотренных законодательством.<br>
            4.1.5.	обжаловать действия (бездействие) и решения Оператора, нарушающие его права при обработке персональных данных, в уполномоченный орган по защите прав субъектов персональных данных в порядке, установленном законодательством об обращениях граждан и юридических лиц.<br>
            4.2.	Для реализации прав, указанных в пункте 4.1. настоящей Политики субъект персональных данных подает Оператору заявление.<br>
            Заявление должно содержать:<br>
            — фамилию, собственное имя, отчество (если таковое имеется) субъекта персональных данных, адрес его места жительства (места пребывания);<br>
            — дату рождения субъекта персональных данных;<br>
            — идентификационный номер субъекта персональных данных, при отсутствии такого номера — номер документа, удостоверяющего личность субъекта персональных данных, в случаях, если эта информация указывалась субъектом персональных данных при даче своего согласия оператору или обработка персональных данных осуществляется без согласия субъекта персональных данных;<br>
            — изложение сути требований субъекта персональных данных;<br>
            — личную подпись либо электронную цифровую подпись субъекта персональных данных.<br>
            Заявление может быть направлено в письменной форме, в форме электронного документа, подписанного электронной цифровой подписью в соответствии с законодательством Республики Беларусь.<br>
            Если в заявлении субъекта персональных данных не отражены в соответствии с требованиями Закона о персональных данных все необходимые сведения или субъект не обладает правами доступа к запрашиваемой информации, то ему направляется мотивированный отказ, а также в иных случаях в соответствии с законодательством.
        </p>
        <p><span style=" display: block; text-align: center; font-size: 2em">5.	Объем и категории обрабатываемых персональных данных, категории субъектов персональных данных</span><br>
            5.1.	Содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям обработки, предусмотренным в разд. 2 настоящей Политики. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным целям их обработки.<br>
            5.2.	Оператор может обрабатывать перечисленные персональные данные следующих категорий субъектов персональных данных.<br>
            5.2.1.	Кандидаты для приема на работу к Оператору: фамилия, имя, отчество; пол; гражданство; дата и место рождения; контактные данные; сведения об образовании, опыте работы, квалификации; иные персональные данные, сообщаемые кандидатами в резюме и сопроводительных письмах.<br>
            5.2.2.	Работники и бывшие работники Оператора: фамилия, имя, отчество; пол; гражданство; дата и место рождения; изображение (фотография); паспортные данные; адрес регистрации по месту жительства; адрес фактического проживания; контактные данные; индивидуальный номер налогоплательщика; сведения об образовании, квалификации, профессиональной подготовке и повышении квалификации; семейное положение, наличие детей, родственные связи; сведения о трудовой деятельности; сведения о воинском учете; сведения об инвалидности; сведения об удержании алиментов; иные персональные данные, предоставляемые работниками в соответствии с требованиями трудового законодательства.<br>
            5.2.3.	Члены семьи работников Оператора: фамилия, имя, отчество; степень родства; год рождения; иные персональные данные, предоставляемые работниками в соответствии с требованиями трудового законодательства.<br>
            5.2.4.	Клиенты и контрагенты Оператора (физические лица): фамилия, имя, отчество; дата и место рождения; паспортные данные; адрес регистрации по месту жительства; контактные данные; иные персональные данные, предоставляемые клиентами и контрагентами (физическими лицами), необходимые для заключения и исполнения договоров.<br>
            5.2.5.	Представители (работники) клиентов и контрагентов Оператора (юридических лиц): фамилия, имя, отчество; паспортные данные; контактные данные; занимаемая должность; иные персональные данные, предоставляемые представителями (работниками) клиентов и контрагентов, необходимые для заключения и исполнения договоров.<br>
            5.3.	Обработка Оператором биометрических персональных данных (например, фотографии) осуществляется в соответствии с законодательством Республики Беларусь.<br>
            5.4.	Оператором не осуществляется обработка специальных категорий персональных данных (касающиеся расовой либо национальной принадлежности, политических взглядов, членства в профессиональных союзах, религиозных или других убеждений, здоровья или половой жизни, привлечения к административной или уголовной ответственности, а также биометрические и генетические персональные данные).
        </p>
        <p><span style=" display: block; text-align: center; font-size: 2em">6.	Контакты Оператора</span><br>
            ООО «Белсинема»<br>
            Почтовый адрес: 220050, а/я 123 г. Минск.<br>
            Телефон: +375 (29) 607-43-40.<br>
            E-mail: info@skycinema.by.
        </p>
    </div>
      </div></div>
</section>
{% endblock %}